---
layout: default
---

<!-- css for highlight.js --> <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css"> <!-- javascript file for hightlight.js --> <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script> <!-- activate highlight.js --> <script>hljs.initHighlightingOnLoad();</script>



<article>
<h1>{{page.title}}</h1>
<hr/>
{{content}}
</article>



```
{% if page.comments %} • <a href="https://Camouflage129.github.io{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}
```